body {
  padding: 30px 0;

  font-family: 'Special Elite', cursive;

  background-color: rgb(50, 50, 53); 

}

#sheet {
  width: 440px;
  height: 650px;

  position: relative;
  padding: 10px 18px 20px;
  left: 50%;
  transform: translate(-50%);

  background-color: #dacf9e;

  box-sizing: border-box;
  
}

h1 {

  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

label {
  font-size: 9px;
}


